* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: white;
}

main {
    margin: 5px;
    padding: 5px;
}

.abtCont {
    display: grid;
    grid-template-columns: 25% auto;
    
}

.workCont {
    display: grid;
    grid-template-columns: 25% auto;
    padding: 20px;
}

.workSectLink {
    width: 80%;
    padding: 20px;
}
.workMultiCont {
    display: flex;
    column-gap: 20px;
}

#project1 {
    display: grid;
    border-style: solid;
}

#module1Proj {
    height: 100px;
    display: flex;
    position: absolute;
    bottom: 50px;
    background-color: aqua;
    font-size: 30px;
    font-weight: 1000;
    
}

.contactCont {
    display: grid;
    grid-template-columns: 25% auto;
    padding: 20px;
}

#contactInfo {
    display: grid;
}

.resumeCont {
    display: grid;
    grid-template-columns: 25% auto;

}
.aboutMeText {
    width: 80;
    inline-size: 1000px;
    overflow-wrap: break-word;
    text-align: left;
    padding: 20px;
    font-size: 30px;
}



header  {
    width: 140%;
    padding: 20px;
    background-color: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.nav_links {
    list-style: none;
    padding: 15px 0 0 0;
    margin-right: 20px;
    
}

.nav_links h1 {
    display:inline-block;
    margin-left: 25px;
}

.webpagetitle {
    font-size: 60px;
    font-weight: 6000;
    color: black;
    padding-top: 1px;
    margin-right: 20px;
}

.abtCont {
    
    padding: 20px;
}

.contactLeft,
.contactRight,
.resumeLeft,
.resumeRight,
.resumeCont {
    padding: 20px;
}




.aboutSect {
    padding: 10px;
    border-right: 4px;
    border-right-style: solid;
}

#aboutTitle {
    font-size: 50px;
    color: black;
    text-align: right;
    padding: 10px;
}

.workSect {
    padding-right: 6px;
    border-right: 4px;
    border-right-style: solid;
    padding: 20px;
}

#workTitle {
    font-size: 50px;
    color: black;
    text-align: right;
}

.contactLeft {
    padding-right: 6px;
    border-right: 4px;
    border-right-style: solid;
}

#contactTitle {
    font-size: 50px;
    color: black;
    text-align: right;
}

.resumeLeft {
    padding-right: 6px;
    border-right: 4px;
    border-right-style: solid;
}

#resumeTitle {
    font-size: 50px;
    color: black;
    text-align: right;
}

